.history_container {
  max-height: 800px;
  scroll-behavior: auto;
  overflow-y: scroll;
  border: 1px solid #000;
  margin-bottom: 20px;
  .history_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    .num1,
    .num2,
    .zipcode,
    .state {
      padding: 15px;
      margin: 0 1px;
    }
    .num1,
    .num2,
    .zipcode {
      width: 40px;
    }
    .state {
      width: 100px;
    }
  }
}
